body{
    background-color: rgb(94, 83, 199);
}
.nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.nav-bar  a {
    font-size: 23px;
    color: white;
    text-decoration: none;

}
.nav-list a{
    margin-right: 10px;
}

.nav-bar button{
    min-width: 28%;
    font-size: 1.4rem;
    /* height: 100%; */
    border-radius: 10px;
    border: 1px solid#aaa;
    padding: 10px 15px;
    cursor: pointer;

}

.rest-of-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vm;
    height: 85vh;
    /* border: 1px solid black; */
}
.left, .right{
    width: 50%;
    
    text-align: center;
}
.left{
    padding-left: 10%;
    text-align: left;

}
.left button{
    background-color: rgb(123, 203, 83);
    color: white
    width: 20%;
    height: 30px;
    border-radius: 10px;
    border: none;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 5% 0;
}
.right input{
    width: 50%;
    margin-bottom: 10px;
    height: 30px;
    background-color: rgb(183, 174, 174);
    border-radius: 10px;
    border: none;
    padding: 2px 5px;
}
.right select,.right button{
    width: 50%;
    margin-bottom: 10px;
    height: 30px;
    padding: 3px 5px;
    border-radius: 10px;
}
.right button {
    border-radius: 10px;
    background-color: rgb(138, 16, 138)
}